html{
  font-family: sans-serif;
  background-color: lightgray;
}
div.header{
  padding: 1em;
  margin:auto;
  width: 50%;
}

.headerName{
  text-align: center;
  color: black;
}

.headerDesc{
  text-align: center;
  color: black;
}

.headerImg{
  object-fit: cover;
  width: 50px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

a{
  color: black;
  cursor: pointer;
}

a:hover{
  color:rgb(28, 10, 143);
  text-shadow: 0 0 3px rgb(28, 10, 143, .3);
}
